[submodule "turbin3_builders_cohort_rs_task"]
	path = turbin3_builders_cohort_rs_task
	url = git@github.com:IhorMuliar/turbin3_builders_cohort_rs_task.git
	
[submodule "turbin3_builders_cohort_ts_task"]
	path = turbin3_builders_cohort_ts_task
	url = git@github.com:IhorMuliar/turbin3_builders_cohort_ts_task.git
