[submodule "rs-task"]
	path = rs-task
	url = git@github.com:IhorMuliar/turbin3_builders_cohort_rs_task.git
	
[submodule "ts-task"]
	path = ts-task
	url = git@github.com:IhorMuliar/turbin3_builders_cohort_ts_task.git
[submodule "turbin3_builders_cohort_ts_task"]
	path = turbin3_builders_cohort_ts_task
	url = git@github.com:IhorMuliar/turbin3_builders_cohort_ts_task.git
[submodule "turbin3_builders_cohort_rs_task"]
	path = turbin3_builders_cohort_rs_task
	url = git@github.com:IhorMuliar/turbin3_builders_cohort_rs_task.git
[submodule "solana-starter"]
	path = solana-starter
	url = git@github.com:IhorMuliar/solana-starter.git
[submodule "anchor-vault"]
	path = anchor-vault
	url = git@github.com:IhorMuliar/anchor-vault
[submodule "anchor-escrow"]
	path = anchor-escrow
	url = https://github.com/IhorMuliar/anchor-escrow.git
[submodule "anchor-amm"]
	path = anchor-amm
	url = https://github.com/IhorMuliar/anchor-amm
[submodule "anchor-nft-marketplace"]
	path = anchor-nft-marketplace
	url = https://github.com/IhorMuliar/anchor-nft-marketplace.git
[submodule "anchor-nft-staking"]
	path = anchor-nft-staking
	url = https://github.com/IhorMuliar/anchor-nft-staking.git
